#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-list li {
  margin: 12px;
}

